.game-over {
    text-align: center;
}

button {
    margin-bottom: 5%;
}
.game-wrapper{
    -moz-box-shadow:    3px 3px 5px 6px white;
    -webkit-box-shadow: 3px 3px 5px 6px white;
    box-shadow:         3px 3px 5px 6px white;
}