@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oxygen&display=swap');

.form-wrapper{
    background-color: #C4C8D3;
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    background-color: #252934;
    -moz-box-shadow:    3px 3px 5px 6px rgb(237, 63, 138);;
    -webkit-box-shadow: 3px 3px 5px 6px rgb(237, 63, 138);;
    box-shadow:         3px 3px 5px 6px rgb(237, 63, 138);;
}
h2 {
    color: white;
    transition: all .3s;
    -webkit-user-select: none;
    touch-action: manipulation;
}

h2:hover{
    color: rgb(237, 63, 138);
    fill: rgb(237, 63, 138);
}

form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.input {
    width: 80%;
    padding: 1.2rem 2rem;
    outline: none;
    border: 1px solid slateblue;
    border-radius: 48px;
    margin: 24px 0;
    font-size: 18px;
}

.input:focus{
  border: 1.5px solid rgb(237, 63, 138);
}

.gameId {
    background-color: #eaeaea;
    color: rgb(42, 29, 131);
    border-radius: 48px;
    padding: 1.2rem 2rem;
    margin: 24px 0;
    font-size: 18px;
    transition: all .3s;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.gameId:hover{
    color: rgb(237, 63, 138);
    fill: rgb(237, 63, 138);
}

.submit-button {
    align-items: center;
    border-radius:48px;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .submit-button:hover {
    border-color: rgb(237, 63, 138);
    color: rgb(237, 63, 138);
    fill: rgb(237, 63, 138);
  }
  
  .submit-button:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }


p {
    color: white;
    margin:0;
    padding:0;
    font-family: 'Oxygen', sans-serif;
}
hr {
    width: 50%;
    margin:0;
    padding:0;
    margin-bottom: 3%
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}