.share {
   background-color: #eaeaea;
   color: rgb(42, 29, 131);
   border-radius: 48px;
   padding: 1.2rem 2rem;
   transition: all .3s;
	 border: 1px solid red;
   color: #000;
   font-weight: 600;
   cursor: pointer;

  }
  
  .share:hover {
    border-color: rgb(237, 63, 138);
    color: rgb(237, 63, 138);
    fill: rgb(237, 63, 138);
  }
  
  .share:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }