@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oxygen&display=swap');
body{
    background-color: #252934;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
}
.App {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 80vw;
    background-image: url('https://i.pinimg.com/564x/ab/7a/a7/ab7aa726c4f2f920a2a4b4190092ea64.jpg');
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}